[alias]
    st = status -sb
    br = branch
    ci = commit
    co = checkout
    lol = log --graph
    lola = log --graph --all
    today = log --author='Jared Carroll' --since=midnight
[core]
    editor = vim
[format]
    pretty = format:%Cgreen%h%Creset | %C(cyan)%ar%Creset | %s %C(yellow)%d %Cred[%an]
[color]
    ui = auto
[color "status"]
    untracked = yellow
