[alias]
	st = status -sb
	br = branch
	ci = commit
	last = log -1 HEAD
	co = checkout
	unstage = reset HEAD --
	staged = diff --cached
	df = diff
	lol = log --graph
  lola = log --graph --all
	ls = ls-files
[color]
	ui = auto
[core]
	excludesfiles = ~/.gitignore
[format]
  pretty = format:%Cgreen%h%Creset%C(yellow)%d%Creset %s %Cred%an %C(cyan)%ar%Creset
[color "status"]
	untracked = yellow
